/* Tipografía general (Ubutu) */
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Playwrite+DK+Loopet:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
;

/* Tipografía nav (Roboto)*/
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Playwrite+DK+Loopet:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
;

:root {
  --rich-black: #121212;
  --black-bean: #290f0e;
  --black-bean-2: #360d0c;
  --black-bean-3: #440b0a;
  --black-bean-4: #4b0a09;
  --rosewood: #510908;
  --rosewood-2: #5e0706;
  --blood-red: #650605;
  --blood-red-2: #6b0504;
}

body {
  margin: 0;
  color: rgb(235, 235, 235);
  font-family: 'Ubuntu', sans-serif;
  background: url(../assets/img/fondo-estrellas.png)
}

header {
  font-family: 'roboto' sans-serif;
}

.imagen-loogo {
  width: 60px;
}

@keyframes animacion-boton {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.imagen-loogo:hover {
  animation: animacion-boton 0.5s ease infinite;
}

.efectos {
  border: 1px solid transparent;
  padding: 5px;
  padding-bottom: 0;
  color: rgb(235, 235, 235);
}

.efectos:hover {
  border-bottom: 1px solid rgb(235, 235, 235);
  color: rgb(235, 235, 235);
}

.imagen-404 {
    width: 30%;
}

@media all and (max-width: 768px) {
  .barra-busqueda {
    display: none;
  }

  .lupa-busqueda {
    display: none;
  }

  .imagen-footer {
    display: none;
  }

  .primer-grid {
    display: none;
  }
}

.imagen-footer {
  width: 70%;
}

.puntos-lista {
  list-style-type: none;
}

.links-footer {
  text-decoration: none;
  color: #f1e6e6bb;
}


footer {
  background: black;
  padding: 15px;
 
}