/* Tipografía general (Ubutu) */
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Playwrite+DK+Loopet:wght@100..400&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
;

/* Tipografía nav (Roboto)*/
@import url('https://fonts.googleapis.com/css2?family=Ancizar+Serif:ital,wght@0,300..900;1,300..900&family=Playwrite+DK+Loopet:wght@100..400&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
;

:root {
  --rich-black: #121212;
  --black-bean: #290f0e;
  --black-bean-2: #360d0c;
  --black-bean-3: #440b0a;
  --black-bean-4: #4b0a09;
  --rosewood: #510908;
  --rosewood-2: #5e0706;
  --blood-red: #650605;
  --blood-red-2: #6b0504;
}

body {
  margin: 0;
  color: rgb(235, 235, 235);
  font-family: 'Ubuntu', sans-serif;
  background: linear-gradient(to bottom, #440b0aff 0%, #1b1110ff 50%, #121212 100%);
}

header {
  font-family: 'roboto' sans-serif;
}

@keyframes animacion-boton {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: translateY(0);
  }
}

.imagen-loogo:hover {
  animation: animacion-boton 0.5s ease infinite;
}

.efectos {
  border: 1px solid transparent;
  padding: 5px;
  padding-bottom: 0;
  color: rgb(235, 235, 235);
}

.efectos:hover {
  border-bottom: 1px solid rgb(235, 235, 235);
  color: rgb(235, 235, 235);
}


.logo {
  display: flex;
}

.logo img {
  width: 100%;
  object-fit: contain;

}

.contenido {
  flex: 1;
  padding: 2rem;
  padding-top: 0.2rem;
  overflow-y: auto;

}

h2 {
  padding-left: 2rem;
  font-size: 20px;
}

.carousel {
  border-radius: 8px;
  overflow: hidden;
  margin: 20px auto;
  max-width: 900px;
}

.carousel-inner img {
  height: 500px;
  object-fit: cover;
  width: 100%;
}

.carousel-item {
  transition: transform 0.5s ease-in-out;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.canciones {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1.5rem;
  padding: 1rem;
  padding-top: 1px;
  margin-left: 1rem;
}

.categorias{
  display: flex;
  justify-content: center;
}

.categoria-titulo {
  text-align: center;
}

.categoria {
  cursor: pointer;
  width: 190px;
  height: 264px;
  background: #551715;
  font-family: inherit;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(101, 6, 5, 0.6);
}

.icono-categoria {
  color: #552524b7;
  padding-left: 30px;
  position: relative;
}

.nombre-categoria {
  text-transform: uppercase;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.801);
  padding: 35px;
  line-height: 23px;
}

.texto-categoria {
  font-size: 20px;
  font-weight: 900;
  padding: 60px 33px 0;
  color: rgba(0, 0, 0, 0.781);
  position: absolute;
  top: 40px;
  left: 1px;
  line-height: 23px;
}

.author {
  margin-top: 5px;
  opacity: 0;
  transition: 0.5s;
}

.categoria:hover .author {
  opacity: 1;
}

.author-container {
  display: flex;
  align-items: center;
}

.author {
  font-weight: 700;
  color: rgba(0, 0, 0, 0.555);
  padding-left: 15%;
  padding-top: 18%;
}

.cancion {
  border-radius: 12px;
  padding: 1rem;
  color: #fff;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.cancion h3 {
  font-size: 10px;
}

.cancion:hover {
  background-color: #290f0e;
}

.cover img {
  width: 100%;
  margin-bottom: 1rem;
}

.img-cancion{
  border-radius: 8px;
}

.img-artista{
  border-radius: 100%;
}

.artistas{
  border-radius: 50%;
}

.cover {
  position: relative;
  overflow: hidden;
}


.modal-content {
  background-color: #1b1110; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  border: none;
}

.modal-header,
.modal-footer {
  border: none;
}

.modal-imagen{
  border-radius: 10px;
}

.modal-header .modal-title {
  color: #fff;
}

.modal-body p {
  color: #e0e0e0;
}

.btn-primary {
  background-color: #440b0a;
  border-color: #440b0a;
}

.btn-primary:hover {
  background-color: #5c1b1a;
  border-color: #5c1b1a;
}

.btn-secondary {
  background-color: #333;
  border-color: #333;
}

.btn-secondary:hover {
  background-color: #444;
}

.play-icon {
  position: absolute;
  bottom: 30px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(20px);
  opacity: 0;
  transition: all 0.4s ease;
  pointer-events: none; /* Evita que bloquee clicks */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.play-icon::before {
  content: '▶';
  font-size: 22px;
  color: #000;
}

.cover:hover .play-icon {
  opacity: 1;
  transform: translateY(0);
}


.info h3 {
  font-size: 1rem;
  margin: 0;
}

.info p {
  font-size: 0.875rem;
  color: #b3b3b3;
  margin: 0.3rem 0 0;
}

.imagen-loogo {
  width: 60px;
}


@media all and (max-width: 768px) {
  .barra-busqueda {
    display: none;
  }

  .lupa-busqueda {
    display: none;
  }

  .imagen-footer {
    display: none;
  }

  .primer-grid {
    display: none;
  }
}

.imagen-footer {
  width: 70%;
}

.puntos-lista {
  list-style-type: none;
}

.links-footer {
  text-decoration: none;
  color: #f1e6e6bb;
}


footer {
  background: #e8dfdf37;
  padding: 15px;
 
}
/* .sidebar {
  width: 12%;
  background: #290f0e;
  border-right: 2px solid #290f0e;
  padding: 1.5rem;
}

.logo{
  padding-bottom: 2rem;
  width: 50%;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
}

.sidebar i{
  padding-bottom: 20px;
}

.sidebar li{
  gap: 10px;
  display: flex;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  margin-bottom: 1rem;
  cursor: pointer;
  transition: color 0.2s;
}

.sidebar li:hover {
  color: #f30a0691;
} */